@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #363945;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  line-height: 1.6;

  a {
    color: #ffffff;
  }
}
